/build*/
/managed_components/
/dependencies.lock
/.codex_check/
/sdkconfig
/sdkconfig.old

*.log
*.py[cod]
__pycache__/
.pytest_cache/

.vscode/ipch/
.vscode/.browse_c_cpp.db*
.vscode/*.lo
terminal_teclado
